#settings-editquiz #questionEditModal .modal-body{
    height: 500px;
    overflow-y: auto;
}

#settings-editquiz #questionCreation .modal-body{
    max-height: 500px;
    overflow-y: auto;
}


/* Style the form */
#settings-editquiz #questionCreation #questionForm {
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
  width: 100%;
  min-width: 300px;
}

/* Style the input fields */
#settings-editquiz #questionCreation input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
#settings-editquiz #questionCreation input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
#settings-editquiz #questionCreation .tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
#settings-editquiz #questionCreation .step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
#settings-editquiz #questionCreation .step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
#settings-editquiz #questionCreation .step.finish {
  background-color: #4CAF50;
} 
