#settings-groups #userSelect .modal-dialog{
    overflow-y: initial !important
}
#settings-groups #userSelect .modal-body{
    height: 500px;
    overflow-y: auto;
}

#settings-groups #groupOptions .addScroll{
    max-height: 350px;
    overflow-y: auto;
}

/* dirty hack to still be able to scroll on first modal whe second modal is closed */
#settings-groups #groupOptions{
    overflow-y: scroll;
}
